
.header {
    display: grid;
    justify-content: center;
    background-image: url("../img/naturaleza.jpg");
    width: 100%;
    height: 600px;
    background-repeat: round;
}

.header__img {

}

.header__textos {

}

h2 {
    color: white;
}

h4 {
    color: white;
}