/* CSS Background Image - Imagen de fondo */
 /* Background imagen aplica imagenes de fondo a los elementos */ 

 body {
    background-color: wheat;

 }

 .div-1 {
        height: 400px;
        margin: 10px;
        justify-content: center;
        display: flex;

 }

 .img-header {
     height: 400px;
    

     
 }

 .div-2 {
     height: 400px;
     margin: 10px;
 }

 .title {
     color: rgb(240, 53, 33);
     text-align: center;
 }

 .subtitle {
     color: #F0BD22;
     text-align: center;
 }

