
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Bloque - Componente menú */

.menu {
    background-color: cyan;
    padding: 15px;
}


.menu__li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    
}

.menu__a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}


/* Bloque - Componente header */

.header {
    background-color: darksalmon;
    height: 400px; /* Altura */
    text-align: center;
    padding: 20px;

}



/* Bloque - Componente Aside */

.aside {
    background-color: deepskyblue;
    display: inline-block;
    padding: 40px;
    height: 800px;    
    width: 30%;
}

/* Bloque - Componente Section */

.section {
    background-color: gold;
    padding: 40px;
    display: inline-block;
    width: 60%;
    height: 800px;
    
}

.section__h2 {
    text-align: center;
}

.section__article {
    background-color: beige;
    padding: 20px;
    margin: 10px;

}

/* Bloque - Componente Footer */

.footer {
    background-color: lightblue;
    height: 200px;
    padding: 40px;

}

.footer__h2 {
    text-align: center;
}


