
h4, h5 {
    color: white;
    text-align: center;
}


.header {
    background-color: #757575;
    text-align: center;
    padding: .625rem;
}


.section {
    display: grid;
    /*grid-template-columns: repeat(6, auto);*/
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    grid-auto-rows: 15.6rem;
    gap: .313rem;
    justify-content: center;
    background-color: gainsboro;
}

.section__card {
    width: 15.625rem;
    height: 15.625rem;
    border-radius: .313rem;
    background-color: #588;
}