
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #757575;
    text-align: center;
}

h4 {
    color: white;
}

.section {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: .313rem;
    justify-content: center;
}

@media screen and (max-width: 90rem) {
    .section {
        grid-template-columns: repeat(5,auto);
    }
}

@media screen and ( max-width: 64rem) {
    .section {
        grid-template-columns: repeat(4,auto);
    }
}

@media screen and ( max-width: 48rem) {
    .section {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and ( max-width: 26.563rem) {
    .section {
        grid-template-columns: 100%;
    }
}

.section__card {
    width: 15.625rem;
    height: 15.625rem;
    border-radius: .313rem;
    background-color: #E91E63;
}